// Site Colors
$site-white: #FFFAEE;
$site-blue: #86BFEE;
$site-blue-darker: #75ADDA;
$site-orange: #F56634;
$site-marron: #602017;
$site-darkbrown: #2B0E0D;
$site-grey: #E6E1DF;

// Container Widths at breakpoints
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;

// gutters / padding
$container-padding: 20px;