#about{
    min-height: 1000px;
    width: 100%;
    background-color: $site-white;
    padding: 0 20px;
    display: flex;
    align-items: left;
    justify-content: left;
    .about__container{
        display: flex;
        align-items: center;
        justify-content: left;
        .about__content{
            max-width: $container-narrow;
            h2{
                color: $site-marron;
                font-size: 72px;
                font-family: SoraBold;
            }
            p{
                color: $site-textcolor;
                font-size: 20px;
                font-family: InterRegular;
                line-height: 30px;
            }

            .about__btn-holder{
                display: flex;
                align-items: center;
                justify-content: left;
                
                .about__button{
                    font-family: SoraLight;
                    font-size: 16px;
                    text-decoration: none;
                    padding: 15px 20px;
                    margin-right: 10px;
                    border-radius: 8px;
                }
                .btn__outline{
                    border: 2px solid $site-marron;
                    color: $site-marron;
                    transition: 0.3s ease;
                }
                .btn__outline:hover{
                    background-color: $site-white-hover;
                }
                .btn__solid{
                    background-color: $site-marron;
                    color: $site-white;
                    transition: 0.3s ease;
                }
                .btn__solid:hover{
                    background-color: $site-marron-hover;
                }
            }
        }
    }
}


@media (max-width:768px){ //Tablet
    #about{
        min-height: 840px;
        .about__container{
            .about__content{
                h2{
                    font-size: 40px;
                }
                p{
                    font-size: 14px;
                }

                .about__btn-holder{
                    .about__button{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width:480px){ //Mobile
    #about{
        min-height: 950px;
        .about__container{
            .about__content{
                h2{
                    font-size: 24px;
                }
                p{
                    font-size: 12px;
                }

                .about__btn-holder{
                    .about__button{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
