footer {
  width: 100%;
  min-height: 542px;
  background-color: $site-blue;
  padding: 0;

  .main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 442px;

    .main-footer__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .main-footer__text {
        color: $site-white;
        padding: 20px 0;

        h1 {
          font-family: SoraBold;
          font-size: 64px;
        }
        p {
          font-family: InterLight;
          font-size: 16px;
          line-height: 24px;
        }
      }

      hr {
        border: 1px solid $site-white;
        width: 50px;
        margin-bottom: 35px;
      }

      .main-footer__socials {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 816px;
        padding: 20px 0;

        .social-info-holder {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          width: 33%;

          .icon-circle{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $site-white;
            transition: 0.3s ease;
            cursor: pointer;
            text-decoration: none;

            .fa-solid{
                color: $site-blue;
                font-size: 16px;
            }
          }
          .icon-circle:hover{
            background-color: $site-grey;
          }

          img {
            width: 35px;
            height: 35px;
          }
          span {
            font-family: InterLight;
            font-size: 16px;
          }
        }
      }
    }
  }

  .true-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $site-blue-darker;
    width: 100%;
    min-height: 100px;

    .true-footer__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-family: InterLight;
        font-size: 16px;
        margin-bottom: 0;
      }

      .connect-icons {
        display: flex;
        align-items: center;
        gap: 35px;

        .connect-icon {
          width: 35px;
          height: 35px;

            .fa-brands {
                color: $site-white;
                font-size: 32px;
                transition: 0.3s ease;
            }

            .fa-brands:hover {
                color: $site-grey;
            }
        }
      }
    }
  }
}


// ----------------------
// Media Queries
// ----------------------

@media (max-width: 768px) { // Tablet
    footer {
        min-height: 420px;
        .main-footer {
            min-height: 320px;
            .main-footer__container {
                .main-footer__text {
                    h1 {
                        font-size: 32px;
                    }
                    p {
                        font-size: 14px;
                        line-height: auto;
                    }
                }

                hr {
                    margin-bottom: 20px;
                }

                .main-footer__socials {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 816px;
                    padding: 20px 0;

                    .social-info-holder {
                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .true-footer {
            min-height: 100px;
            .true-footer__container {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}



@media (max-width: 480px) { // iPhone / small mobile
    footer {
        min-height: 470px;
        .main-footer {
            min-height: 400px;
            .main-footer__container {
                padding: 40px 0;
                .main-footer__text {
                    padding: 10px 0;
                    h1 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 12px;
                    }
                }

                hr {
                    margin-bottom: 0;
                    border: 1px solid $site-white;
                    width: 25px;
                }

                .main-footer__socials {
                    flex-direction: column;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 816px;
                    padding: 20px 0 0 0;

                    .social-info-holder {
                        margin: 20px auto;
                        width: auto;
                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .true-footer {
            min-height: 70px;
            .true-footer__container {
                padding: 20px;
                p {
                    font-size: 12px;
                }
                .connect-icons {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .connect-icon {
                        // width: 25px;
                        // height: 25px;
                    }
                }
            }
        }
    }
}