#projects {
  margin-top: 0;
  .slope-skew {
    border: 2px solid $site-darkbrown;
    background-color: $site-darkbrown;
    transform: skewY(-3deg);
    position: relative;
    z-index: 1;
    margin: -2px 0 0 0;
    overflow: hidden;
    .inner {
      padding: 30px 0;
      color: $site-white;
      h1 {
        font-family: SoraBold;
        font-size: 48px;
        letter-spacing: 10px;
        margin-bottom: 0;
        white-space: nowrap;
      }
    }
    .marquee {
      display: flex;
      width: fit-content;
      animation: scrollSkills 80s linear infinite;
      gap: 32px;
    }
  }

  .projects__container {
    background-color: $site-white;
    padding: 180px 0 100px 0;
    margin-top: -120px;
    transform: skewY(-3deg);

    .projects__content-wrapper {
      transform: skewY(3deg);

      .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 25px;
      }
    }
  }
}

@media (max-width: 768px) {
  #projects {
    .slope-skew {
      .inner {
        h1 {
          font-size: 36px;
        }
      }
    }

    .projects__container {
      padding: 50px 0 50px 0;
      margin-top: -2px;
    }
  }
}

@media (max-width: 480px) {
  #projects {
    .slope-skew {
      .inner {
        padding: 15px 0;
        h1 {
          font-size: 16px;
          letter-spacing: 8px;
        }
      }
    }

    .projects__container {
      margin-top: -30px;
      padding: 50px 0;

      .projects__content-wrapper {
        .projects-grid {
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
      }
    }
  }
}
